@model int
@{
        int ball=Model-1;
        int ss=0,bb=ball;
        int ff=ball;
}

    @for (int i = 0 ; i < Model ; i++)
    {
        @for (int d = 0;d < ball-ss ; d++){
            <img  src="~/images/cuadro.png" alt="#">
        }
        ss++;
        @for (int k=0; k < Model-ff ; k++){
         <img  src="~/images/bloque.webp" alt="#">
    }
    ff--;
    @for (int h=0; h < Model-bb ; h++){
       <img  src="~/images/bloque.webp" alt="#">
    }
    bb--;
    <div></div>
    }
    <br/>